body,
html {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
}

.top-section {
  color: white;
  padding-top: 80px;
  padding-bottom: 139px;
  max-width: 1066px;
  margin: 0 auto;
  position: relative;
}

.actual-top-content {
  z-index: 2;
  position: relative;
}

.top-section h1 {
  font-size: 4rem;
  margin: 0;
  line-height: 97.3%;
  max-width: 525px;
}

.top-section p.intro-text {
  font-size: 1.25rem;
  line-height: 170%;
  margin: 1rem 0;
  max-width: 400px;
}

.top-section-wrapper {
  background-color: #001d37;
  padding-left: 16px;
  padding-right: 16px;
  overflow: hidden;
}

.our-btn {
  font-size: 1.125rem;
  font-weight: 600;
  background-color: #475aaf;
  border: 2px solid #475aaf;
  color: #fff;
  text-decoration: none;
  padding: 12px 48px;
  border-radius: 1000px;
  display: inline-block;
  transition: background-color 0.3s ease-out;
}

.our-btn:hover {
  background-color: #2e40e2;
  border: 2px solid #2e40e2;
}

.our-btn--outline {
  background-color: transparent;
  border: 2px solid white;
}

.our-btn--outline:hover {
  background-color: white;
  color: #475aaf;
  border: 2px solid white;
}

.utility-mr {
  margin-right: 10px;
}

.utility-mb {
  margin-bottom: 16px;
}

.intro-buttons {
  margin-bottom: 80px;
}

.intro-feature {
  border: 1px solid rgba(255, 255, 255, 0.24);
  padding: 33px 25px;
}

.intro-feature p {
  font-size: 1.0625rem;
}

.intro-feature h2 {
  font-size: 1.5rem;
}

.intro-features {
  display: grid;
  column-gap: 16px;
  row-gap: 16px;
}

.circle {
  width: 617px;
  height: 617px;
  background: #d660ff;
  border-radius: 50%;
  filter: blur(200px);
  position: absolute;
  top: 60px;
  right: -390px;
  opacity: 0.65;
}

.circle-two {
  width: 617px;
  height: 617px;
  background: #6079ff;
  border-radius: 50%;
  filter: blur(200px);
  position: absolute;
  top: -365px;
  left: -123px;
  opacity: 0.25;
}

.page-section {
  background-color: whitesmoke;
  padding: 80px 16px;
}

.page-section-inner {
  max-width: 1066px;
  margin: 0 auto;
}

.page-section-title {
  font-size: 4rem;
  margin: 0;
  line-height: 1;
}

.pet-filter {
  color: #9f9f9f;
  font-size: 1.175rem;
}

.pet-filter button {
  background-color: transparent;
  border: none;
  font-family: "Source Sans 3", sans-serif;
  font-size: 1.175rem;
  color: #9f9f9f;
  margin: 0 0 32px 0;
}

.site-footer p {
  text-align: center;
  color: #a6a6a6;
  font-size: 0.875rem;
  margin: 0;
  padding: 0 0 65px 0;
}

.list-of-pets {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  column-gap: 32px;
  row-gap: 16px;
}

.pet-card {
  display: grid;
  grid-template-columns: 165px 1fr;
  border: 1px solid #f3f3f3;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  border-radius: 20px;
}

.pet-card-photo {
  order: 1;
  grid-row: 1;
}

.pet-card-photo img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.pet-card-text {
  padding: 21px 29px;
}

.pet-card-text h3 {
  margin: 0 0 5px 0;
  font-size: 1.625rem;
  font-weight: 600;
}

.pet-description {
  margin: 0 0 1rem 0;
  color: #626262;
  line-height: 150%;
}

.pet-age {
  color: #a2a2a2;
  font-size: 0.85rem;
}

// Media Queries
@media screen and (min-width: 600px) {
  .top-section h1 {
    font-size: 6.25rem;
  }

  .top-section {
    padding-top: 139px;
    padding-bottom: 139px;
  }

  .intro-buttons {
    margin-bottom: 129px;
  }

  .page-section {
    background-color: whitesmoke;
    padding: 130px 16px;
  }

  .page-section-title {
    font-size: 5.31rem;
  }

  .pet-filter {
    font-size: 1.375rem;
  }

  .pet-filter button {
    font-size: 1.375rem;
  }

  .list-of-pets {
    row-gap: 28px;
  }
}

@media screen and (min-width: 580px) {
  .intro-features {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 900px) {
  .intro-features {
    grid-template-columns: repeat(4, 1fr);
  }
}
